<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
		    http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="controoller" class="xin.bean.mvc.controller.Controoller">
			<property name="service" ref="userServiceImpl"></property>
		</bean>  
		
		<bean id="userDaoImpl" class="xin.bean.mvc.dao.UserDaoImpl"></bean>
		
		<bean id="userServiceImpl" class="xin.bean.mvc.service.UserServiceImpl">
			<property name="dao" ref="userDaoImpl"></property>
		</bean>
		
</beans>