<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>webDemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	  <servlet>
	      <!-- 名字可以随便起，一般和类名一致-->
		  <servlet-name>DemoServlet</servlet-name>
		  <!--servlet类的路径，在src下，固定的-->
		  <servlet-class>com.chinasofti.webDemo.servlet.DemoServlet</servlet-class>
	  </servlet>
	  
	  <servlet-mapping>
	  	 <!-- 跟上一个名字必须一样 -->
	  	 <servlet-name>DemoServlet</servlet-name>
	  	 <!-- 访问资源标签，在訪問時需要輸入demo，名字可以随便起，一般和类名一致 -->
	  	 <url-pattern>/demo</url-pattern>
	  </servlet-mapping>  
	  


</web-app>