@charset "utf-8";
/* CSS Document */
 .topNav { height: 40px; line-height: 40px; background: #f8f8f8; border-bottom: 1px solid #ddd; font-size: 12px; font-family: 微软雅黑;}
.topNavCon { width: 1000px; margin: 0 auto;}
.topNav ul {float: left;}
.topNav li { display: inline; margin-right: 10px;}
.topNav li a {color: #666; }
.topNav li a:hover {color: #0af;}
.topNav .topLine {color: #ccc; margin: 0 5px;}
.topNavR {float: right;font-weight: bold;}
.topHeader{
	height:60px;box-shadow:0 1px 3px #ddd;
	border-bottom:1px solid #eee;background:#fff;
	position: relative; *z-index: 4;
}
.topHeader .header_cont{
	padding:9px 0;height:43px;line-height:43px; position: relative;
}

.topHeader .header_fix, #footer .footer_cont{
	width:1172px;margin:0 auto;
}
.topHeader .header_left, .topHeader .header_left .logo, 
.topHeader .header_left .nav, .topHeader .header_left .search_box_a,
.topHeader .header_left .adSearch{
	float:left;
}
.topHeader .header_left .logo{
	margin-right:25px;
	margin-right:15px\9;
	_margin-right:5px;
}
.topHeader .header_left .logo img {width: 165px; margin-top: 3px;}
/*切换城市*/
.changeCity { line-height: 100%; padding: 9px 0 20px 0; text-align: left;font-family: 微软雅黑; margin:0px 0 0 10px;position:relative;z-index:998;}
.changeCity span { font-size: 16px; font-weight: bold;}
.changeCity a{ font-size: 12px; font-family: 宋体; position: relative; top: 5px;}
#hotCitys { position: absolute; left: 0; top: 55px;  background: #fff;z-index: 999;padding: 5px 0 10px 0; display: none;}
#hotCitys span {display: block; width: 500px; border: 1px solid #e4e4e4; padding: 5px  0 10px 20px; height: 150px; font-weight: normal;}
#hotCitys a { display: inline-block; width: 50px; height: 30px; line-height: 30px; padding: 0 8px;}
#hotCitys img {position: absolute; top: -2px; left: 20px;}

.minBody .topHeader .header_left .logo img {
	width: 160px;
	margin-top: 6px;
}
.topHeader .header_left .logo img{
	/*margin-top:6px;*/
}
.topHeader .header_left .nav{
	margin-right:20px;
	font-family: 微软雅黑;
}
.topHeader .header_left .nav, .topHeader .header_left .nav i.jpFntWes{
	font-size:14px;
}
.topHeader .header_left .nav a {
	color:#666;margin:0 10px 0 0;
}
.topHeader .header_left .nav a:hover {color: #0af; text-decoration: underline;}
.topHeader .header_left .nav i.jpFntWes{margin:10px 3px 0 0;}
.topHeader .header_left .nav .link{color:#999;margin:0 10px;float:left}
.topHeader .header_left .search_box_a{
	margin-right:8px;background:#fff;font-size: 12px;
}
.topHeader .header_left .adSearch{
	line-height:16px;width:30px;display:inline-block;
	text-align:center;color:#999;margin:8px 0 0;font-size:12px
}
.topHeader .header_right{float:right; }
.topHeader .header_right a{margin:0 10px}
.topHeader .header_right .b{font-weight:bold;}
.topHeader .header_right .lnk{font-size:14px;}
.blankTopHeader{
	background:#333;
}
.blankTopHeader .header_left .nav a, .blankTopHeader .header_right a, .blankTopHeader .header_right{
	color:#ddd
}
.blankTopHeader .header_right a:hover{
	color:#0af
}

.blankTopHeader .header_right #nickName {

    display: inline-block;
    width: 90px;
    text-align: right;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    zoom: 1;
    height: 43px; 
    line-height: 43px;
    white-space: nowrap;

}

#footer{
	background:#96A4BE;border-top:1px #5A667E solid;
}
#footer .footer_cont{
	padding:20px 0;line-height:20px;text-align:center;
}
#footer .footer_cont div{
	margin-bottom:15px;color:#7C8AA4;
}
#footer .footer_cont div a{
	color:#32405A;margin:0 10px
}
#footer .footer_cont p{
	color:#60687D
}

.browse-box{float:left;position: relative}
.browse-box:hover .navBox{display: block}
/*右侧登录区域*/
.header-right{float:right}
.header-right a{color:#3D84B8;margin-left:15px}
.header-right .fb{font-weight:bold}
.header-right u{text-decoration: none;color:#999;margin-left: 15px}
/*导航弹窗*/
.navBox{display:none;position:absolute; z-index:3;top:40px;left:-18px;line-height:22px;font-size:14px;}
.navBox .navBoxC{ position:relative; z-index:1;width:550px;height:331px;border:1px solid #dadada;box-shadow:0 0 3px #aaa;background:url(../images/navBox.jpg) repeat-y 0 0 #fff;}
.navBox .navBoxC b.arr{width:17px;height:9px;line-height:0;font-size:0;position:absolute;top:-9px;left:35px;background:url(../images/common.gif) no-repeat -47px 0;}
.navBox .navBoxC .l{float:left;display:inline;width:170px; position:relative; z-index:1;height:331px;}
.navBox .navBoxC .r{float:left;display:inline;width:380px;}
/*导航弹窗-左侧*/
.navLst{padding:10px;zoom:1;}
.navLst p{height:35px;line-height:35px;}
.navLst p a:link,.navLst p a:visited{display:block;padding-left:10px;color:#4d4d4d;zoom:1;}
.navLst p a:hover{background:#e9e9e9;}
.navPhone{ position:absolute;bottom:10px;left:0;width:100%;}
.navPhone p{font-weight:bold;font-size:14px;padding-left:20px;}
.navPhone p.lnk{padding-left:15px;}
.navPhone p.lnk a{width:141px;height:31px;font-size:0;line-height:0;background:url(../images/common.gif) no-repeat 0 -50px;display:inline-block;margin:5px 0 0;}
/*导航弹窗-右侧*/
.navBoxC .r .hd{margin:10px 20px 0 20px;padding:0 10px;border-bottom:1px solid #dadada;height:30px;line-height:30px;}
.navBoxC .r .hd h3{float:left;display:inline;font-size:14px;font-weight:bold;}
.navBoxC .r .hd .rLnk{float:right;display:inline;width:200px; text-align:right;}
.navBoxC .r .hd .rLnk a{font-size:12px;color:#424242;}
.navBoxC .r .hd .rLnk a:hover{color:#0af;}

.navBoxC .r .bd{padding:10px 25px;zoom:1;}
.navBoxC .r .bd ul li{float:left;display:inline;width:105px;height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.navBoxC .r .bd ul li a{padding:0 5px;}
.navBoxC .r .bd ul li a:hover{color:#fff;background:#3d85b8;}
.navBoxC .r .bd ul li.hot a{color:#ed2801;}
.navBoxC .r .bd ul li.hot a:hover{color:#fff;background:#ed2801;}
/*-------------------------------公共顶部   老版本-------------------------------*/
header,.header-box{height:60px;box-shadow:0 1px 3px #ddd;border-bottom:1px solid #eee; background:#fff}
.headerCon{width:1172px;margin:0 auto; text-align:left;}
.headL{float:left;display:inline;margin:5px 0 0;width:710px;}
.headL h1{height:50px;float:left;display:inline;}
.headL h1 a{height:50px;width:138px;display:inline-block;background:url(../images/smLogo.jpg) 0 11px no-repeat;}
.headL h1 a img{margin-top:11px;}
.headL .backIndex{float:left;display:inline;height:50px;line-height:50px;margin:0 0 0 20px;width:50px;}
.headL .backIndex a{color:#4d4d4d;font-size:14px;}
.headL .backIndex a:hover{color:#0af;}
/*顶部搜索*/
.tSch{float:left;display:inline;margin:5px 10px 0 0;position:relative; z-index:99;background:#fff;border:2px solid #ed2801;zoom:1;}
.tSch .tSchType{float:left;display:inline;border-right:1px solid #dadada;height:35px;line-height:35px;background:#fff;font-size:12px;padding:0 5px 0 10px;cursor:pointer; position:relative; z-index:1;width:55px;zoom:1;}
.tSch .tSchType a{color:#8d8585;float:left;display:inline;}
.tSch .tSchType i.jpFntWes{font-size:14px;float:right;display:inline;margin:9px 0 0;color:#8d8585;width:15px;}
.tSch .tSchType .typeBox{width:70px;position:absolute;left:-1px;top:35px;border:1px solid #ED2801;border-top:0;background:#fff; z-index:3;zoom:1;display:none;}
.tSch .tSchType .typeBox a{padding-left:10px;height:30px;line-height:30px;width:60px;display:inline-block;}
.tSch .tSchType .typeBox a:hover{background:#f1f1f1;}
.tSch input{width:260px;border:0;background:none;height:35px;float:left;margin:0 5px 0 5px;font-size:12px;line-height:35px;color:#999}
.tSch input.focus{color:#666;}
.tSch a.tSchBtn{float:left;padding:0 10px;height:35px;line-height:35px;font-size:16px;background:#ed2801;color:#fff}
/*顶部右侧*/
.headR{float:right;display:inline;width:310px;}
.headR a{font-size:12px;}
.headR a:hover{color:#0af;}
/*登录前*/
.headR .lgBef ul li{float:right;display:inline;height:60px;line-height:60px;margin:0 0 0 18px; position:relative; z-index:10;}
.headR .lgBef ul li.line{color:#999;}
.headR .lgBef ul li.comEnter{font-weight:bold;}
.headR .lgBef ul li.userLogin{font-weight:bold;}
.headR .lgBef ul li.enter{font-weight:normal;}
.lgBox{ position:absolute; z-index:3;left:-90px;top:50px;}
.lgBoxC{position:relative; z-index:1;width:250px;height:90px;padding:15px 10px 0;border:1px solid #dadada;box-shadow:0 0 3px #aaa;background:#fff;}
.lgBoxC b.arr{width:17px;height:9px;line-height:0;font-size:0;position:absolute;top:-9px;left:95px;background:url(../images/common.gif) no-repeat -89px 0;}
.lgBoxC .l,.lgBoxC .r{float:left;display:inline;width:125px; text-align:center;}
.lgBoxC .l p,.lgBoxC .r p{height:40px;line-height:25px;}
.lgBoxC .l p.btn,.lgBoxC .r p.btn{height:40px;}
.lgBoxC .l p.btn a.btnsF14,.lgBoxC .r p.btn a.btnsF14{color:#fff;font-size:14px;}

/*登录后*/
.headR .lgAft ul li{float:right;display:inline;height:60px;line-height:60px;margin:0 0 0 15px;position:relative; z-index:3;_vertical-align:bottom;font-size:12px;color:#999;}
.headR .lgAft ul li a.lnk{color:#424242;height:60px;line-height:60px;display:inline-block;padding:0 5px;font-size:14px;}
.headR .lgAft ul li a.lnk:hover{color:#000;}
.headR .lgAft ul li.message span.tIco{float:left;display:inline;cursor:pointer;}
.headR .lgAft ul li.message a.lnk em{float:left;display:inline;padding:0 3px;height:16px;line-height:16px;color:#fff;background:#e1443c; border-radius:3px;font-size:10px;display:inline-block;*display:inline;zoom:1;cursor:pointer;font-family:Verdana, Geneva, sans-serif;margin:22px 0 0 3px;}
.headR .lgAft ul li.user{width:225px;text-align:right;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.headR .lgAft ul li.user a.lnk{color:#424242;font-size:12px;}
.headR .lgAft ul li.user a.lnk:hover{color:#000;}
.headR .lgAft ul li.user a.lnk i.jpFntWes{font-size:14px;margin:0 0 0 3px;}
.headR .lgAft ul li a.helpLnk{color:#424242;font-size:12px;}
.headR .lgAft ul li a.helpLnk:hover{color:#000;}

.infoBox{position:absolute; z-index:3;right:-53px;top:50px;}
.infoBoxC{position:relative; z-index:1;width:180px;border:1px solid #dadada;box-shadow:0 0 3px #aaa;background:#fff;line-height:30px;font-size:12px;}
.infoBoxC b.arr{width:17px;height:9px;line-height:0;font-size:0;position:absolute;top:-9px;left:95px;background:url(../images/common.gif) no-repeat -89px 0;}
.infoBoxLst p{height:30px;line-height:30px;border-bottom:1px dashed #dadada;margin:0 10px;padding:0 5px;}
.infoBoxLst p.tit{border-bottom:1px solid #ccc;}
.infoBoxLst p.bot{margin:0;background:#f1f1f1;border-bottom:0;padding:0 15px;}
.infoBoxLst p span.l{float:left;display:inline;width:80px;}

.infoBoxLst p span.l a{color:#424242;}
.infoBoxLst p span.l a:hover{color:#000;}
.infoBoxLst p span.r{float:right;display:inline;width:70px; text-align:right;}
.infoBoxLst p.bot i.jpIconMoon{font-size:12px;margin:0 3px 0 0;}
.infoBoxLst p.bot .l a{color:#3D84B8;}
.infoBoxLst p.bot .l a:hover{color:#0af;}
/*顶部导航*/
.navLink{float:left;display:inline;height:50px;line-height:50px;width:75px; position:relative; z-index:10;}
.navLink a.lnk{font-size:14px;color:#4d4d4d;height:50px;line-height:50px;display:inline-block;}
.navLink a.lnk i.jpFntWes{font-size:14px;margin:0 3px 0 0;}

.tSchJobAut,.tSchJobAutDo{margin-left:-6px;}
.tSchJobAut ul li{height:auto;overflow:hidden;}
.tSchJobAut .autTempJob{overflow:hidden;display:block;zoom:1;}
.tSchJobAut .autTempJob a{display:block;width:215px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;height:21px;color:#444;}
.tSchJobAut .autTempJob .autTempL{width:185px;}
.tSchJobAut .autTempCom{overflow:hidden;border-bottom:1px dashed #ddd;display:block;zoom:1;}
.tSchJobAut .autTempCom .autTempComL{float:left;width:290px;overflow:hidden;}
.tSchJobAut .autTempCom .autTempComL .comNm{height:25px;line-height:25px;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;overflow:hidden;font-size:12px;font-weight:normal;color:#666; float:left; display:inline; width:220px;}
.tSchJobAut .autTempCom .autTempComL span{float:right; display:inline; color:#999; height:25px; line-height:25px; margin-left:5px;}
.tSchJobAut .autTempCom .autTempComL p{height:25px;line-height:22px;color:#999;font-size:12px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;width:290px;}
.tSchJobAut .autTempCom .autTempComL p i{margin:0 3px;}

.tSchJobAut .autTempLst ul li{padding:2px 5px 0;}
.tSchJobAut .autTempLst ul li a{display:block;}
.autTemp{border: 1px solid #dadada;background:#fff;overflow: hidden;z-index: 99999; text-align:left;width:279px!important}
.autTempLst p.autTempTxt{font-size:12px;height:26px;line-height:26px;padding-left:5px;font-weight:normal;background:#f5f5f5;border-bottom:1px solid #eee;}
.autTempLst ul{width: 100%;}
.autTempLst ul li{padding:2px 5px;cursor:pointer;display: block;font-size: 12px;overflow: hidden;height:25px;line-height:25px; vertical-align:bottom;}
.autTempLst ul li.hov{background-color: #f1f1f1}
.autTempLoad{background:url(/img/p/loading.gif) center center no-repeat #fff;}
.autTempLst ul li.hov{background:#f1f1f1;}
.autTempLst ul li .autTempL{float:left;display:inline;width:205px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;height:25px;line-height:25px;}
.autTempLst ul li .autTempR{float:right;display:inline;text-align:right;width:70px;height:25px;line-height:25px;color:#999;}

/*-------------------------------公共底部-------------------------------*/
.footer-box{width:100%;border-top:1px solid #dadada;padding:15px 0;background:#fff;font-size:12px;zoom:1;line-height:24px;color:#666;margin:20px 0 0;text-align: center}
.footer-box .footerNav{color:#999; margin:0 auto}
.footer-box .footerNav a{margin:0 10px;color:#666;}
.footer-box .footerNav a:hover{color:#0af;}
.footer-box .copyright{margin:0 auto;}
/*窄屏时头底部*/
.minBody .headerCon, .minMain .headerCon{width:980px}
.minBody .headR, .minMain .headR{width:270px}
.minBody #header,.minBody #header .header_fix, .minMain #header .header_fix{
	min-width:980px;
}
.minBody #header .header_fix, .minMain #header .header_fix{
	width:980px;
}
.imgTop5 { margin-top: 0; position: relative; top: -7px;}

.btns { margin: 7px 0 0 0; font:14px 微软雅黑;  position: absolute; right: 0;}
.btns span { width: 95px; height: 35px; line-height: 35px; text-align: center; display: inline-block;  border: 1px solid #eee; border-radius: 3px; cursor: pointer;margin-left: 10px; position: relative;}
.btns span:hover { background: #f8f8f8; border: 1px solid #eee;}
.btns .phone {margin-right: 5px; position: relative; top: 5px;}
.btns span i { font-size: 14px; margin-left: 5px; position: relative; top: -2px;}
.btns span i.ico {font-size:20px; position:relative;top:3px;left:-5px;color:#d00; margin-right: 5px; *top:0;}
.btns span .weixinIco { position: relative; top: 4px; margin-right: 5px;}
.btns p { position: absolute; background: #fff; border: 1px solid #ddd; width: 150px; top: 35px; left: -67px; display: none; z-index: 99; padding: 5px;}
.btns p img { width: 140px;height: 140px; }
